.New .disk{
    width: 687px;
    border: 1px solid #d3d3d3;
    margin-top: 20px;
    display: flex;
    background-color: #f5f5f5;
    align-items: center;
    position: relative;
}
.New .disk .arr_left{
    background: url(../image/index.png) no-repeat -265px -77px;
    width: 8px;
    height: 14px;
    margin-left: 11px;
    position: absolute;
    top: 71px;
    left: 0;
}
.New .disk .arr_left:hover{
    background: url(../image/index.png) no-repeat -285px -77px;
}
.New .disk>ul{
    width: 645px;
    margin-top: 28px;
    margin-left: 18px;
    display: flex;
}
.New .disk>ul li{
    width: 118px;
    height: 150px;
    margin-left: 11px;
    float: left;
}
.New .disk>ul li .img{
    width: 100px;
    height: 100px;
    position: relative;
}
.New .disk>ul li img{
    display: block;
}
.New .disk .arr_right{
    background: url(../image/index.png) no-repeat -305px -77px;
    width: 8px;
    height: 14px;
    margin-right: 11px;
    position: absolute;
    top: 71px;
    right: 0px;
}
.New .disk .arr_right:hover{
    background: url(../image/index.png) no-repeat -325px -77px;
}

.New .disk .shadow{
    background: url(../image/coverall.png) no-repeat -0 -570px;
    width: 118px;
    height: 101px;
    position: absolute;
    top: 0;
    left: 0;
}
.New .disk .play{
    display: none;
    background: url(../image/iconall.png) no-repeat 0 -85px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 73px;
    left: 73px;
}
.New .disk .play:hover{
    display: block;
    background: url(../image/iconall.png) no-repeat 0 -110px;
}
.New .disk .shadow:hover +.play{
    display: block;
}
.New .disk p{
    width: 90%;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
    line-height: 18px;
}
.New .disk .name{
    color: #000;
}
.New .disk .singer:hover,
.New .disk .name:hover{
    text-decoration: underline;
}
.New .disk .singer{
    font-size: 12px;
    color: #333;
    height: 18px;
    line-height: 18px;
}